<ul id="menu-top" class="nav navbar-nav navbar-right uppercase">
	<li class="home"><a href="/">Home</a></li>
	<li class="manifesto"><a href="https://www.cs.ru.nl/~freek/qed/qed.html" target="_blank">MANIFESTO</a></li>
	<li class="whitepaper"><a href="/docs/qeditas.pdf" target="_blank">WHITE PAPER</a></li>
	<li class="bitcointalk"><a href="https://bitcointalk.org/index.php?topic=998559.0" target="_blank">BITCOINTALK</a></li>
	<li class="github"><a href="#" target="_blank">GITHUB</a></li>
	<li class="documentation"><a href="/docs/QeditasTechDoc.pdf" target="_blank">DOCUMENTATION</a></li>
</ul>
