
                    <div class="container">
                    <div class="sitemap_foot">
                    <div class="row">
                        <div class="col-md-8 col-sm-24 col-xs-24 logocol">

                            <img src="/images/iohk-share-logo-bw.png" alt="" width="200" height="47" />
                            <br><br>


                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="wrap">
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/team">Team</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/careers/">Careers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="wrap">
                            <ul>
                                <li><a href="/projects/scorex">Projects</a></li>
                                <li><a href="/projects/scorex">Scorex</a></li>
                                <li><a href="/projects/rscoin">RS Coin</a></li>
                            </ul>
                            </div>

                        </div>
                        <div class="clear nodesktop"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="wrap">
                            <ul>
                                <li><a href="/research">Research</a></li>
                                <li><a href="/library">Library</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a data-toggle="modal" href="#searchmodal">Search</a></li>
                            </ul>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="wrap">
                            <ul>
                                <li><a href="https://github.com/input-output-hk/" target="_blank">Github</a></li>
                                <li><a href="https://www.linkedin.com/company/input-output-global" target="_blank">LinkedIn</a></li>
                                <li><a href="https://twitter.com/InputOuput" target="_blank">Twitter</a></li>
                                <li><a data-toggle="modal" href="#subscribe_to_newsletter">Newsletter</a></li>
                            </ul>
                            </div>


                        </div>
                    </div>
                    </div>
                    </div>
